<div class="row">
    <div class="col-8">
        <div>
            <p class="err-page">404</p>
        </div>
        <div>
        <p>Sorry, Page Not Found</p>
        <p>The page you requested could not be found</p>
        <p> Go Back to <a class="btn btn-danger" aria-current="page" href="/">Home</a></p>
        </div>
    </div>
</div>